<section>
    <div class="container">
        <div class="row ">
            <div style="width: 25px; padding: left -50px;">
                <h3 id="issueh3">ISSUE TICKET RAISER</h3>
            </div>
            <div class="col-md-6 logpage" >
                <p> User login for raising new issues and view raised issues </p>
                <a href="/user-login">
                <button class="btn btn-outline-primary">User login</button></a>
            </div>
            <div class="col-md-6 logpage">
                <p>Admin login for updating issues and view issues</p>
                <a href="/admin-login"> <button class="btn btn-outline-primary">Admin Login</button></a>
            </div>
        </div>
    </div>
</section>